/* .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

div.gallery {
  margin: 20px;
  border: 1px solid #ccc;
  float: left;
  width: 25%;
  min-width: 250px;
  max-width: 300px;
  height: auto;
  background-color:#BCA27C;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

body {
    font-family: "Inter", sans-serif;
    margin: 20px;
    margin-top: 100px;
    
}

/* desktop title */
h1{

    font-size: 85px;
      margin-left: 4%;
      width: 70vw;

}


h2 {
      font-size: 40px;
      font-weight: 500;
      letter-spacing: -0.5px;
      margin-left: 5%;
      width: 80vw;
    }

/* desktop subtitle */
h3 {
        font-size: 20px;
        font-weight: medium;
        letter-spacing: -0.5px;
        margin-left: 0%;
        width: 80vw;
  }

/* footer */
h4 {
  font-size: 14px;
  font-weight: 500;
}

/* desktop body */
h5 {
  font-size: 16px;
  font-weight: 500;
}


.top {

    position:fixed;
    right: 1%;
    bottom: 1%;
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color:#6D8952;
    border-radius: 100%;
    border-width: 2px;
    filter: drop-shadow(4px 4px 6px grey)

}

* {
    scroll-behavior: smooth;
    text-decoration: none;
    color: black
  }


.background {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: url("images/background_image.png") repeat center center/cover;
    z-index: -1;
}

.img1 {
  display: grid;
  grid-template-columns: 2fr 1fr; 
  gap: 10px;
  padding: 0;
  margin-right: 0;
  min-width: 200px;
}

/* 이미지 스타일 */
.img1 img {
  width: 100%;
  height: auto;
  object-fit: cover;
}





.container {
  width: 100%;
  height: auto;
  display: flex;
  background-color: rgba(109, 137, 82, 0.4);
  margin-bottom: -50px;
  border-top-left-radius: 50px;
}


.item {
  font-family: "Inter", sans-serif;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  display: flex;
    flex-wrap: wrap;
    gap: 10px; /* 간격 */
}




/* 데스크톱 화면 (1025px 이상)  desktop*/
@media (min-width: 1025px) {
  body {
    background-color: #FCF7E9;
  }
}

/* 태블릿 화면 (601px ~ 1024px) tablet */
@media (min-width: 601px) and (max-width: 1024px) {
  body {
    background-color: #FCF7E9;
  }
}



/* 모바일 화면 (최대 600px) mobile */
@media (max-width: 600px) {

  .top {

    position:fixed;
    right: 1%;
    bottom: 1%;
    font-size: 2.5rem;
    width: 60px;
    height: 60px;
    text-align: center;
    background-color:#6D8952;
    border-radius: 100%;
    border-width: 2px;
    filter: drop-shadow(4px 4px 6px grey)

}

  body {
    background-color: #FCF7E9;
    font-size: 3vw;
  }

  .img1 {
    display: flex;
    flex-wrap: wrap;

  }
  

  
  @media (max-width: 768px) { /* 모바일 화면 */
    .item {
      flex: 1 1 100%; /* 1-column */
    }
  }

  body {
    font-family: "Inter", sans-serif;
    
}

h1{

    font-size: 40px;
      margin-left: 4%;
      width: 70vw;

}


h2 {
      font-size: 40px;
      font-weight: 500;
      letter-spacing: -0.5px;
      margin-left: 5%;
      width: 80vw;
    }

h4 {
      font-size: 13px;
      font-weight: 500;
      margin-left: 10%;
}

h5 {
  font-size: 15px;
  font-weight: 500;
  margin-left: 10%;
}
    
.container {
  width: 100%;
  height: auto;
  background-color: rgba(109, 137, 82, 0.4);
  border-top-left-radius: 50px;
  display: grid;
}


}


.button-container {
  display: flex;
  gap: 20px;
}

.btn1 {
  position: relative;
  background-color: #f6efdc; 
  padding: 10px 20px;
  font-size: 18px;
  margin: 20px;
  font-weight: bold;
  border: none;
  border-radius: 50px; 
  cursor: pointer;
  box-shadow: 8px 8px 0px rgba(186, 110, 110, 0.8);
  transition: all 0.2s ease-in-out;
}

.btn2 {
  position: relative;
  background-color: #f6efdc;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 50px; 
  cursor: pointer;
  box-shadow: 8px 8px 0px rgba(231, 154, 84, 0.8);
  transition: all 0.2s ease-in-out;
}

.btn1:hover {
  transform: translateY(-3px);
  box-shadow: 12px 12px 0px rgba(186, 110, 110, 0.8);
}

.btn2:hover {
  transform: translateY(-3px);
  box-shadow: 12px 12px 0px rgba(231, 154, 84, 0.8);
}
