.grid-layout {
    column-count: 4;
    column-gap: 15px;
    padding: 20px;
  }
  
  .grid-item {
    break-inside: avoid;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
  }
  
  .grid-item:hover {
    transform: scale(1.02);
  }
  
  .grid-item img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
  
  .info-box {
    padding: 10px 15px;
    background-color: #fffaf2;
  }
  
  .icon {
    width: 30px !important;
    height: 30px !important;
    margin-right: 6px;
    vertical-align: middle;
  }
  .info-box h4 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .info-box p {
    font-size: 14px;
    margin: 4px 0;
  }
  
  .desc {
    font-style: italic;
    color: #444;
  }
  
  
/* Tablet */
@media (min-width: 1024px) {
    .grid-layout {
        column-count: 4;
    }
}

/* Tablet */
@media (max-width: 1024px) {
    .grid-layout {
        column-count: 2;
    }
}

/* Moblie */
@media (max-width: 600px) {
    .grid-layout {
        column-count: 1;
    }
}

